aiofiles==0.5.0
aniso8601==7.0.0
appdirs==1.4.4
arrow==1.0.3
async-exit-stack==1.0.1
async-generator==1.10
beautifulsoup4==4.11.1
binaryornot==0.4.4
black==22.1.0
bleach==5.0.1
build==0.8.0
certifi==2020.12.5
chardet==4.0.0
click==8.0.3
colorama==0.4.4
commonmark==0.9.1
cookiecutter==1.7.3
decorator==5.1.1
distlib==0.3.1
dnspython==2.1.0
docutils==0.19
email-validator==1.1.2
fastapi==0.63.0
filelock==3.0.12
Flask==2.0.2
Flask-Cors==3.0.10
graphene==2.1.8
graphql-core==2.3.2
graphql-relay==2.0.1
greenlet==1.0.0
h11==0.12.0
idna==2.10
importlib-metadata==4.12.0
itsdangerous==2.0.1
Jinja2==3.0.3
jinja2-time==0.2.0
keyring==23.8.1
MarkupSafe==2.0.1
mypy-extensions==0.4.3
orjson==3.5.1
packaging==21.3
pathspec==0.9.0
pep517==0.13.0
pkginfo==1.8.3
platformdirs==2.5.0
poyo==0.5.0
promise==2.3
psutil==5.9.0
pydantic==1.8.1
Pygments==2.12.0
pyparsing==3.0.9
pyte==0.8.0
python-dateutil==2.8.1
python-decouple==3.6
python-dotenv==0.16.0
python-multipart==0.0.5
python-slugify==4.0.1
pywin32-ctypes==0.2.0
PyYAML==5.4.1
readme-renderer==36.0
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==2.0.0
rich==12.5.1
Rx==1.6.1
six==1.15.0
soupsieve==2.3.2.post1
tomli==2.0.1
twine==4.0.1
typing_extensions==4.0.1
ujson==3.2.0
urllib3==1.26.3
uvicorn==0.13.4
virtualenv==20.2.2
watchgod==0.7
wcwidth==0.2.5
webencodings==0.5.1
websockets==8.1
Werkzeug==2.0.3
win-unicode-console==0.5
zipp==3.8.1
